body {
    background-color: #747474;
    font-family: Arial, sans-serif;
    color: #f5f5f5;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.title-text {
    color: #ffffff;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    text-align: center;
}